[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.1"
flask-restx = "==1.1.0"
flask-cors = "*"
flask-sqlalchemy = "==3.0.3"
pyopenssl = "==23.1.1"
pyjwt = "*"
mysqlclient = "*"
flask-mail = "==0.9.1"
pymysql = "*"
pillow = "*"
torch = "*"
numpy = "*"
werkzeug = "*"
cryptography = "==40.0.2"
gunicorn = "*"
cloudinary = "*"
flask-socketio = "*"
python-dotenv = "*"
ultralytics = "==8.0.111"
gitpython = "*"
matplotlib = "*"
opencv-contrib-python-headless = "*"
psutil = "*"
pyyaml = "*"
scipy = "*"
thop = "*"
torchvision = "*"
tqdm = "*"
pandas = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
